:root{
  --font:"Montserrat", sans-serif;
  --blanco:#fff;
  --negro:#222;
  --gris:#e2e2e2;
}


body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

